<h1>Poker The Greatest</h1>


<img src="/images/dog_poker.png" alt="poker table" />

<br><br>
<br><br>
<br>
<p> Enter Game Name</p>
<div class= "form-group ">
  <form action= "/start_game" method= "post">
    <input id= "game_name" name="game_name" type="text">
    <button class= "btn btn-success" type="submit">Start game</button>
  </form>

</div>
