


<br><br>
<div class= "jumbotron">
  <h1>Poker The Greatest</h1>
</div>


<div style="text-align: center"><img class="dog_poker" src="/img/dog_poker.png" alt="poker table" align= "middle" /></div>

  <br><br>
  <br><br>
  <br><br>
  

  <div style="text-align: center"><h3><strong> Enter Game Name<strong></h3></div>
  <div style="text-align: center" class= "form-group ">
    <form action= "/start_game" method= "post">
      <input id= "game_name" name="game_name" type="text">
      <button class= "btn btn-success" type="submit">Start game</button>
    </form>

  </div>
